In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('./data/Folds5x2_pp.xlsx', sheet_name=None)

In [7]:
df = pd.concat(df.values(), ignore_index=True)

In [8]:
df

          AT      V       AP     RH      PE
0      14.96  41.76  1024.07  73.17  463.26
1      25.18  62.96  1020.04  59.08  444.37
2       5.11  39.40  1012.16  92.14  488.56
3      20.86  57.32  1010.24  76.64  446.48
4      10.82  37.50  1009.23  96.62  473.90
...      ...    ...      ...    ...     ...
47835  15.12  48.92  1011.80  72.93  462.59
47836  33.41  77.95  1010.30  59.72  432.90
47837  15.99  43.34  1014.20  78.66  465.96
47838  17.65  59.87  1018.58  94.65  450.93
47839  23.68  51.30  1011.86  71.24  451.67

[47840 rows x 5 columns]

In [9]:
df.to_csv('./data/Combined_Cycle_Power_Plant.csv')