In [1]:
import pandas as pd

### Preprocessing for 01

In [6]:
df = pd.read_excel('./data/Folds5x2_pp.xlsx', sheet_name=None)

In [7]:
df = pd.concat(df.values(), ignore_index=True)

In [8]:
df

          AT      V       AP     RH      PE
0      14.96  41.76  1024.07  73.17  463.26
1      25.18  62.96  1020.04  59.08  444.37
2       5.11  39.40  1012.16  92.14  488.56
3      20.86  57.32  1010.24  76.64  446.48
4      10.82  37.50  1009.23  96.62  473.90
...      ...    ...      ...    ...     ...
47835  15.12  48.92  1011.80  72.93  462.59
47836  33.41  77.95  1010.30  59.72  432.90
47837  15.99  43.34  1014.20  78.66  465.96
47838  17.65  59.87  1018.58  94.65  450.93
47839  23.68  51.30  1011.86  71.24  451.67

[47840 rows x 5 columns]

In [9]:
# df.to_csv('./data/Combined_Cycle_Power_Plant.csv')

### Preprocessing for 03

In [1]:
def convert(imgf, labelf, outf, n):
    f = open(imgf, "rb")
    o = open(outf, "w")
    l = open(labelf, "rb")

    # o.write('label,'+",".join(str(i) for i in range(28 * 28))+"\n")

    f.read(16)
    l.read(8)
    images = []

    for i in range(n):
        image = [ord(l.read(1))]
        for j in range(28*28):
            image.append(ord(f.read(1)))
        images.append(image)

    for image in images:
        o.write(",".join(str(pix) for pix in image)+"\n")
    f.close()
    o.close()
    l.close()

convert("./data/MNIST/train-images.idx3-ubyte", "./data/MNIST/train-labels.idx1-ubyte",
        "./data/MNIST/mnist_train.csv", 60000)
convert("./data/MNIST/t10k-images.idx3-ubyte", "./data/MNIST/t10k-labels.idx1-ubyte",
        "./data/MNIST/mnist_test.csv", 10000)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
df_orig_train = pd.read_csv('./data/MNIST/mnist_train.csv', header=None)
df_orig_test = pd.read_csv('./data/MNIST/mnist_test.csv', header=None)

In [7]:
df_orig_train.head(2)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df_orig_test.head(2)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Preprocess for 04

In [5]:
import os
import json

def create_json_from_directory(base_dir):
    with open('./data/imdb-comments.json', 'w', encoding='utf-8') as json_file:
        for label in ['train', 'test']:
            label_path = os.path.join(base_dir, label)
            
            for sentiment in ['pos', 'neg']:
                sentiment_path = os.path.join(label_path, sentiment)
                
                for filename in os.listdir(sentiment_path):
                    if filename.endswith('.txt'):
                        file_path = os.path.join(sentiment_path, filename)
                        
                        with open(file_path, 'r', encoding='utf-8') as file:
                            content = file.read()
                        
                        record = {
                            "label": label,
                            "sentiment": sentiment,
                            "name": filename,
                            "content": content
                        }
                    json.dump(record, json_file, ensure_ascii=False)
                    json_file.write('\n')

base_directory = './data/aclImdb'
create_json_from_directory(base_directory)